<!-- Modal -->
<div class="modal fade" id="ModalEditMaterialDrink" tabindex="-1" aria-labelledby="ModalEditMaterialDrinkLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="/admin/material_drink?_method=PUT" method="POST">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalEditMaterialDrinkLabel">Tambah Suplai Bahan</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card-body">
            <div class="form-group">
              <label for="name">Nama</label>
              <input type="ntext" class="form-control name" name="name" id="name" placeholder="Masukan nama bahan">
            </div>
            <div class="form-group">
              <label for="unit">Satuan</label>
              <input type="text" class="form-control unit" name="unit" id="unit" placeholder="Masukan satuan">
            </div>
            <div class="form-group">
              <label for="price">Harga</label>
              <input type="number" class="form-control price" name="price" id="price" placeholder="Masukan Harga">
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <div class="modal-footer">
          <input type="hidden" name="id" class="id">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Simpan</button>
        </div>
      </form>
    </div>
  </div>
</div>